/* index.css用来做首页的样式 */
/* CSS样式顺序:浮动/display/定位、盒子模型、内容样式 */
/* 清除默认样式 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* 内减模式 */

}
/* 清除浮动*/
.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
  }
  .clearfix:after {
    clear:both;
  }
/* 清除li标签前的小点点 */
li{
    list-style: none;
}
body{
    background-color: #f3f5f7;
}
/* 版心 */
.wrapper{
    width:1200px;
   margin: 0 auto;
}
/* 头部 */
.header{
    height: 42px;
    /* background-color: pink; */
    margin: 30px auto;
}
.box2 ul {
    position: absolute;
}
.box2 ul li a .hot{
    position: absolute;
    left: 196px; 
    top: 0;
}
/* logo */
h1{
    float: left;
}
/* 导航栏 */
/* 小技巧，纯文字的时候可以不用给宽度，由内容自动撑开 */
.nav{
    float: left;
    margin-left: 70px;
    height: 42px;
}
.nav li{
    float: left;
    /* 浮动让li显示在一排 */
    margin-right: 26px;
    line-height: 42px;
}
.nav li a{ 
    display:block;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}
.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
    /* padding: 0 9px; */
}
/* 搜索 */
.sertch{
    float:left;
    width: 412px;
    height: 40px;
    border: 1px solid #00a4FF;
    margin-left: 59px;
}
.sertch input{
    float:left;
    padding-left: 20px;
    width: 360px;
    height: 38px;
    border: 0;
}
/*  */
.sertch input::placeholder{
    font-size: 14px;
    color: #bfbfbf;
}
.sertch button{
    float:left;
        width: 50px;
        height: 38px;
        border: 0;
        background-color: #00a4ff;
        background-image: url(../images/btn.png);
}
/* 用户 */
.user{
    float: right;
    margin-right: 35px;
    height: 42px;
    line-height: 42px;
}
.user img{
    /* 调节图片对齐方式，middle表示居中 */
    vertical-align: middle;
}
/* 轮播图 */
.banner{
        height: 420px;
        background-color: #1c036c;
}
.banner .wrapper{
    margin: 0,auto;
    /* 版心 */
    height: 420px;
   background-image: url(../images/banner2.png);
}
.banner .left{
    float: left;
    padding-left:20px;
    padding-right: 21px;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0,0,0.3);
    line-height: 44px;
}
.banner .left a{
    text-decoration: none;
    color: #fff;
}
.banner .left span{
    float: right;
   
}
.banner .left  a:hover{
    color: #00a4FF;
}
.banner .right{
    float:right;
    margin-top: 50px;
    width: 228px;
    height: 300px;
    background-color: #fff;
}
.banner .right h2{
    width: 228px;
    height: 48px;
    background-color: #9bceea;
    color: #fff;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
}
.banner .right .content{
    padding:0 18px;
}
.banner .right dl{
    padding: 12px 0;
    border-bottom: 2px solid #e5e5e5;
}
.banner .right dt{
    font-weight: 700;
    font-size: 16px;
    color: #4e4e4e;
}
.banner .right dd{
    font-size: 14px;
    color: #4e4e4e;
}
.banner .right a {
    display: block;
    /* margin: 4px 14px 0; */
    margin: 4px auto 0;
    width: 200px;
    height: 40px;
    border: 1px solid #00a4ff;
    text-decoration: none;
    font-size: 16px;
    color: #00a4ff;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
}
/* 精品推荐 */
.goods{
    width: 1200px;
    height: 60px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 8px;
    /* 阴影 */
    box-shadow: 0px 2px 3px 0px 
    rgba(118, 118, 118, 0.2);
}
.goods h2{
   float: left; 
   margin-left: 38px;
   margin-right: 36px;
   color: #00a4ff;
   line-height: 60px;
}
.goods li{
    float: left; 
}
.goods li a{
    line-height: 60px;
    padding-left: 32px;
    margin-right:26px;
    color: #050505;
    text-decoration: none;
    border-left: #bfbfbf 1px solid;
}
.goods .xgxq{
    line-height: 60px;
    float: right;
    color: #00a4ff;
    text-decoration: none;
margin-right:26px;
}
/* 精品课程 */
.course{
    width: 1200px;
    margin: 0 auto;
    margin-top: 35px; 
}
.box1{
    height: 40px;
}
.box1 h2{
    float:left;
    line-height: 40px;
    font-size: 20px; 
    color: #494949;
}
.box1 a{
    float:right;
    line-height: 40px;
    text-decoration: none;
    padding-right: 30px;
    color: #494949;
} 
.box2{
    overflow:auto
}
.box2 li{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: #fff;
}
.box2 li a{
    text-decoration: none;
}
.box2 li:nth-child(5n) {
    margin-right: 0;
}
.box2 li h5{
    margin: 25px 24px 20px 20px;
    color: #000; 
}

.box2 li p{
    margin: 20px 84px 0 24px;
    font-size: 12px;
    color:#dadada;
}
.box2 li p span{
    color: #ff9159;
}
/* 版权 */
.footer {
    margin-top: 350px;

    padding-top: 30px;

    height: 250px;
    background-color: #fff;
}

.footer .left {
    float: left;
}

.footer .left  p {
    margin: 20px 0 10px;
    font-size: 12px;
    color: #666;
}

.footer .left a {
    display: inline-block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    text-align: center;
    text-decoration: none;
    line-height: 36px;
    font-size: 16px;
    color: #00a4ff;
}

.footer .right {
    float: right;
}

.footer .right dl {
    float: left;
    margin-left: 120px;
}
.footer .right a {
   text-decoration: none;
   color: #333333;
}
.footer .right dl dt {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333333;
}
.box2 ul {
    position: absolute;
}
.box2 ul li a .hot{
    position: absolute;
    left: 196px; 
    top: 0;
}
